@import "tailwindcss";

@theme {
  /* Used several Coolors Palettes as a basis:
  https://coolors.co/5f0f40-9a031e-fb8b24-e36414-0f4c5c
  https://coolors.co/7c1354-9a031e-fb8b24-e36414-0f4c5c
  https://coolors.co/7c1354-9a031e-fb8b24-e36414-14667b
  https://coolors.co/350824-fb375b-fb8b24-e36414-14667b
  https://coolors.co/f9dcee-fb375b-fb8b24-e36414-14667b
  https://coolors.co/f9dcee-fb375b-fb8b24-e36414-dcf4f9
  */

  --color-tyrian-purple: hsla(323, 73%, 22%, 1);
  --color-murrey: hsla(323, 73%, 28%, 1);
  --color-mimi-pink: hsla(323, 71%, 92%, 1);

  --color-carmine: hsla(349, 96%, 31%, 1);
  --color-folly: hsla(349, 96%, 60%, 1);

  --color-ut-orange: hsla(29, 96%, 56%, 1);
  --color-spanish-orange: hsla(23, 84%, 48%, 1);

  --color-midnight-green: hsla(192, 72%, 21%, 1);
  --color-caribbean-current: hsla(192, 72%, 28%, 1);
  --color-light-cyan: hsla(190, 71%, 92%, 1);

  --color-black: #000;
  --color-white: #fff;
}
